html {
    --text: #050315;
--background: #fbfbfe;
--primary: #490b0b;
--secondary: #cecece;
--accent: #d7d2d2;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "libre basckervill" ;
}

h1,
h2,
h3 {
    color: var(--primary);
    font-family: "kapakana" ;
}

p {
    background: var(--accent);
}

li::marker {
    color: var(--secondary);
}

img {}